body {
    background-color: rgba(0,0,0,.25);
    background-image: url("./assets/bg.jpg");
    background-blend-mode: multiply;
}
.gamearea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.lives{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 40px 0px;
    width: 60px;
    background-color: rgb(0,0,0);
    border: 3px solid rgb(136, 136, 136);
    padding: 20px
}

.lives img{
    max-width: 100%;
    height: auto;
}

#Canvas {
    padding: 0;
    width: 650px;
    height: 650px;
    text-align: center;
}

#instructions{
    margin: 80px 300px;
    background-color: rgb(0,0,0);
    border: 3px solid rgb(136, 136, 136);
    padding: 10px;
}

h1{
    margin: 0;
    font: 72px Comic Sans MS;
    color: white;
    text-align: center;
}

#htp{
    font: 36px Comic Sans MS;
    color: white;
    text-wrap: initial;
    text-align: justify;
}

p{ 
    margin-top: 0px;
    font: 28px Comic Sans MS;
    color: white;
    text-wrap: initial;
    text-align: justify;
}

h2{
    margin-bottom: 0px;
    font: 48px Comic Sans MS;
    color: white;
}

.container{
    display: flex;
    justify-content: space-between;
}

.container img{
    margin: 0;
    height: 30%;
    width: 30%;
}

img{
    margin: 0px 200px;
}